@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

.var {
  @apply text-amber-600;
}
